<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<nav th:fragment="admin_left" id="admin_left"   class="navbar-default navbar-side" role="navigation">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="nav-li">
                    <a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="nav-li">
                    <a th:href="@{/admin/user}"><i class="fa fa-desktop"></i> 用户管理</a>
                </li>
                <li class="nav-li">
                    <a th:href="@{/admin/exp_list}"><i class="fa fa-qrcode"></i> 实验管理</a>
                </li>

                <li class="nav-li">
                    <a th:href="@{/admin/fctf_list}" ><i class="fa fa-table"></i> 题目管理</a>
                </li>
                <li class="nav-li">
                    <a th:href="@{/admin/exp_order}" ><i class="fa fa-table"></i> 质量管理</a>
                </li>
                <li class="nav-li">
                    <a th:href="@{/admin/exp_monitor}"><i class="fa fa-edit"></i> 实验运行监控 </a>
                </li>
                <li class="nav-li">
                    <a th:href="@{/admin/log}"><i class="fa fa-edit"></i> 日志管理 </a>
                </li>
                <li class="nav-li">
                    <a th:href="@{/admin/aempty}"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                </li>
                <!--
                                    <li>
                                        <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li>
                                                <a href="#">Second Level Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Second Level Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                                <ul class="nav nav-third-level">
                                                    <li>
                                                        <a href="#">Third Level Link</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Third Level Link</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Third Level Link</a>
                                                    </li>

                                                </ul>

                                            </li>
                                        </ul>
                                    </li>-->
            </ul>

        </div>

    </nav>
</body>
</html>