<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/styles/font-awesome.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/styles/custom-styles.css}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link th:href="@{/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>HYBRID</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">28% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                            <span class="sr-only">28% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">85% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                            <span class="sr-only">85% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/user}"><i class="fa fa-desktop"></i> 用户管理</a>
                    </li>
					<li>
                        <a th:href="@{/admin/test}"><i class="fa fa-bar-chart-o"></i> 测评管理</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/exp_list}" class="active-menu"><i class="fa fa-qrcode"></i> 实验管理</a>
                    </li>
                    
                    <li>
                        <a th:href="@{/admin/fctf_list}" ><i class="fa fa-table"></i> 题目管理</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/system}"><i class="fa fa-edit"></i> 系统管理 </a>
                    </li>
					<li>
                        <a th:href="@{/admin/log}"><i class="fa fa-edit"></i> 日志管理 </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/aempty}"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="fade" class="black_overlay" style="height: 200%"></div>
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                 <div class="col-md-12">
                        <h1 class="page-header">
                            添加实验环境
                        </h1>


                    </div>
                 <!-- /. ROW  -->
                 <div class="row">
                <div class="col-md-12">
                    <!-- 环境模板信息-->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            环境信息
                        </div>
                        <input type="hidden" id="exp_id" th:value="${exp_id}">
                        <input type="hidden" id="envir_id" th:value="${environment.envir_id}">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <form enctype="multipart/form-data" id="envir-info" name="envir-info" method="post">
                                    <p >
                                        <span style="font-size: 16px;;font-weight: 600;color: #63686e;">实验名：</span>
                                        <input type="text" class="envir-input" id="exp_name" name="exp_name" th:value="${exp_name}" disabled placeholder="请输入内容">
                                        <span style="margin-left: 70px;font-size: 16px;font-weight: 600;color: #63686e;">环境名：</span>
                                        <input type="text" class="envir-input" id="envir_name" name="envir_name" th:value="${environment.envir_name}" disabled placeholder="请输入内容">
                                    </p>
                                    <p>
                                        <span style="font-size: 16px;font-weight: 600;color: #63686e;">是否提供虚拟机：</span>
                                        <select class="envir-input" id="is_provide_vm" name="is_provide_vm" disabled placeholder="请输入内容">
                                            <option th:checked="${environment.is_provide_vm == 1}">是</option>
                                            <option th:checked="${environment.is_provide_vm == 0}">否</option>
                                        </select>
                                        <span style="margin-left: 70px;font-size: 16px;font-weight: 600;color: #63686e;">主机数量：</span>
                                        <input type="text" class="envir-input" id="host_num" name="host_num" th:value="${environment.host_num}"  placeholder="请输入内容">
                                    </p>
                                    <!-- 添加主机浮板 -->
                                    <div class="kiss">
                                        <a id="addEnvir_btn" name="addEnvir_btn" onclick="document.getElementById('add_host').style.display='block';document.getElementById('fade').style.display='block'" style="height:40px;font-size:22px;" >添加主机</a>
                                        <button style="margin-left: 70%;height: 45px" onclick="commitDeploy()" class="page-button" id="deploy_status">提交部署</button>

                                        <div id="add_host" class="white_content" style="height: 600px">
                                            <p class="kiss" style="font-size: 24px;height: 60px;font-weight: bold">
                                                <span style="font-size:22px;width:120px">主机信息：</span>
                                            </p>

                                            <p class="kiss">
                                                <span>主机名：</span>
                                                <input type="text" class="envir-input" id="host_name" name="host_name" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>ip地址：</span>
                                                <input type="text" class="envir-input" id="host_ip" name="host_ip" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>工具：</span>
                                                <input type="text" class="envir-input" id="host_tools" name="host_tools" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>操作系统：</span>
                                                <input type="text" class="envir-input" id="host_os" name="host_os" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>用户名：</span>
                                                <input type="text" class="envir-input" id="host_username" name="host_username" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>密码：</span>
                                                <input type="text" class="envir-input" id="host_password" name="host_password" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>备注（详细配置需求）：</span>
                                                <textarea type="text" class="envir-input" id="host_remark" name="host_remark" placeholder="请输入内容"></textarea>
                                            </p>
                                            <p class="kiss" style="height: 70px">
                                                <button class="page-button" onclick="addHost()">保存</button>
                                            </p>
                                            <a href="javascript:void(0)" onclick="two()">Close</a>
                                        </div>
                                    </div>


                                    <!-- 添加主机浮板 -->
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    <!--环境模板信息 -->

                    <!--主机列表 -->
                    <div class="panel panel-default">
                        <div class="row" id="host_list" >
                            <ul th:if="${vmHostList != null}">
                                <li th:each="vmHost:${vmHostList}">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-success panel-data" style="height: 150px;width: 300px;margin: 20px">
                                            <div class="panel-heading">

                                                <h3 class="panel-title">
                                                    <a th:href="'/admin/view_host/'+${vmHost.host_id}"><strong>[[${vmHost.host_name}]]</strong></a>
                                                    <a href="#editHost1" class="pull-right">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </h3>

                                            </div>
                                            <div class="panel-body">
                                                <p>
                                                    <input type="hidden" name="host_id" th:value="${vmHost.host_ip}">
                                                    <button type="submit" class="pull-right btn btn-xs btn-danger" name="host_del"
                                                            title="Delete"
                                                            onclick="return confirm('Are you sure?')">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                <p><strong>Host_IP : </strong>[[${vmHost.host_ip}]]
                                                </p>
                                                <p><strong>Update : </strong>[[${vmHost.update_time}]]</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <!--主机列表 -->
                </div>
            </div>
            </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></footer>
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-1.11.1.js}"></script>
      <!-- Bootstrap Js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/js/morris/morris.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/jquery/jquery.validate.min.js}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
         <!-- Custom Js -->
    <script th:src="@{/js/custom-scripts.js}"></script>


        <script>
            function openAddHostDiv(){
                $("#add_host").show();
                $("#fade").show();
            }
            function two(){
                $("#add_host").hide();
                $("#fade").hide();
            }
        </script>
        <script>

            function addHost() {
                var update_time = new Date().format("yy-MM-dd hh:mm:ss");
                $.ajax({
                    url: "/admin/do_hostAdd",
                    type: "POST",
                    data:{
                        envir_id:$("#envir_id").val(),
                        host_name:$("#host_name").val(),

                        host_ip:$("#host_ip").val(),
                        host_tools:$("#host_tools").val(),
                        host_os:$("#host_os").val(),
                        host_username:$("#host_username").val(),
                        host_password:$("#host_password").val(),
                        host_remark:$("#host_remark").val(),
                        update_time:update_time
                    },
                    success:function(data){
                        layer.closeAll();
                        if(data.code == 0){
                            layer.msg("成功");
                            window.location.reload();
                        }else{
                            layer.msg(data.msg);
                            //layer.msg("成功");
                            // window.location.href="/login";
                        }
                    },
                    error:function(){
                        layer.closeAll();
                    }
                });
            }

            function commitDeploy() {
                var exp_id = $("#exp_id").val();
                $.ajax({
                    url: "/admin/commit_envir/"+exp_id,
                    type: "POST",
                    success:function(data){
                        layer.closeAll();
                        if(data.code == 0){
                            window.location.href = "/admin/exp_list";
                        }else{
                            layer.msg(data.msg);
                        }
                    },
                    error:function(){
                        layer.closeAll();
                    }
                });
            }
        </script>

</body>


</html>
