<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/styles/font-awesome.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/styles/custom-styles.css}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link th:href="@{/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav th:replace="/common/admin_top :: admin_top" class="navbar navbar-default top-navbar">
        </nav>

        <!-- /. NAV SIDE  -->
        <nav th:replace="/common/admin_left :: admin_left" class="navbar-default navbar-side">
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            实验信息管理
                        </h1>
                        <a th:href="@{/admin/exp_info}">
                            <button class="page-button">
                                <span>新增实验</span>
                            </button>
                        </a>

                    </div>
                 <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            实验信息
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="experimentsList">
                                    <thead>
                                        <tr>
                                            <th>实验名</th>
                                            <th>难度</th>
                                            <th>方向</th>
                                            <th>类别</th>
                                            <th>修改日期</th>
											<th>操作</th>
                                            <th>状态</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd gradeX" th:each="experiment,experimentStat:${experimentsList}">
                                        <td th:text="${experiment.exp_name}"></td>
                                        <td th:text="${experiment.degree}"></td>
                                        <td th:text="${experiment.class1}"></td>
                                        <td th:text="${experiment.class2}"></td>
                                        <td th:text="${experiment.date}"></td>
                                        <td style="width:15%">
                                            <a th:href="'/admin/exp_update/'+${experiment.exp_id}">修改信息</a>
                                            <a th:if="${experiment.envir_name == null || experiment.envir_name == ''}" th:href="'/admin/add_envir/'+${experiment.exp_id}">添加环境</a>
                                            <a th:if="${experiment.envir_name != null && experiment.envir_name != ''}" th:href="'/admin/view_envir/'+${experiment.exp_id}" style="color: #4cae4c">查看环境</a>
                                        </td>
                                        <td>
                                            <label th:if="${experiment.envir_name == null || experiment.envir_name == ''}" style="color: rgba(136,138,103,0.97);">暂无状态</label>
                                            <label th:if="${experiment.envir_name != null && experiment.envir_name != '' && experiment.status == '0'}" style="color: rgba(138,53,69,0.97);margin-left: 5px">制作中</label>
                                            <label th:if="${experiment.envir_name != null && experiment.envir_name != '' && experiment.status == '1'}" style="color: rgba(194,177,38,0.97);margin-left: 5px">部署中</label>
                                            <a th:if="${experiment.envir_name != null && experiment.envir_name != '' && experiment.status == '2'}" onclick="commitTest()" href="javascript:;" th:value="${experiment.exp_id}" style="color: #4cae4c" id="test_status">提交测试</a>
                                            <label th:if="${experiment.envir_name != null && experiment.envir_name != '' && experiment.status == '3'}" style="color: rgba(200,182,38,0.97);margin-left: 5px">测试中</label>
                                            <a th:if="${experiment.envir_name != null && experiment.envir_name != '' && experiment.status == '4'}" onclick="commitPublish()" href="javascript:;" th:value="${experiment.exp_id}" style="color: #4cae4c" id="pub_status">发布实验</a>
                                            <label th:if="${experiment.envir_name != null && experiment.envir_name != '' && experiment.status == '5'}" style="color: rgba(194,177,38,0.97);margin-left: 5px">已发布</label>
                                        </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->
            <div class="row">
                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-11">
                     <!--    Hover Rows  -->
                    <div class="panel panel-default" style="margin-left: 15px">
                        <div class="panel-heading">
                            实验投送信息
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>设计人</th>
                                            <th>是否提供镜像</th>
                                            <th>实验文档</th>
                                            <th>日期</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="deliverInfo,deliverInfoStat:${deliverInfoList}">
                                            <td th:text="${deliverInfo.designer}"></td>
                                            <td th:text="${deliverInfo.is_provide_vm}"></td>
                                            <td th:text="${deliverInfo.document}"></td>
                                            <td th:text="${deliverInfo.create_time}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Hover Rows  -->
                </div>
            </div>
                <!-- /. ROW  -->
        </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></footer>
    </div>

             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-1.11.1.js}"></script>
      <!-- Bootstrap Js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/js/morris/morris.js}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/custom-scripts.js}"></script>
    <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- Custom Js -->

            <script>

                function commitTest() {

                }
                function commitPublish() {

                }
            </script>
    

</body>
</html>
