<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>[[${fctf.fctf_name}]]</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/fctfProfile_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/fctfPages.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/courses_responsive.css}">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header d-flex flex-row">
		<div th:replace="/common/header :: navi">

		</div>
		<div th:include="/common/header :: login" th:if="${user != null}" id="login" class="header_side d-flex flex-row justify-content-center align-items-center">

		</div>
		<div th:include="/common/header :: unlogin" th:if="${user == null}" id="unlogin" class="header_side d-flex flex-row justify-content-center align-items-center">

		</div>

		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>

	</header>

	<header th:replace="/common/header :: search">

	</header>
	<!-- Menu -->

	
	<!-- Home -->

	<input type="hidden" id="user" th:value="${user}"/>
	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(/images/courses_background.jpg)"></div>
		</div>
		
	</div>
	<div class="fctftoppart">
		<div class="main">
			<div class="fctfTopList" data-name="题目信息">



				<link rel="stylesheet" src="/css/jquery.alerts.css}" type="text/css">
				<script type="text/javascript" src="js/jquery/jquery.alerts.js?date=20160717141901}"></script>
				<script>
                    // var timer ;
                    // $(document).ready(function(e) {
                    //     // countDown(180,null,"#clockbox .hour","#clockbox .minute","#clockbox .second");
                    // });
                    // function isFirstClose(){
                    //     var flag = false;
                    //     var userId = $("#sessionuuid").val();
                    //     $.ajax({
                    //         url: "mes!queryIsFirstForFctf.action",
                    //         dataType: "json",
                    //         type: "post",
                    //         data: {userId:userId,type:"10110014"},
                    //         async : false,
                    //         success: function(data){
                    //             if($(data).attr("result") == "success" && $(data).attr("message") == "true") {
                    //                 flag = true;
                    //             }
                    //         }
                    //     });
                    //     return flag;
                    // }
                    // /*倒计时部分*/
                    // var sys_second = 0;
                    // var end_time = 0;
                    //
                    // function countDown(scd, day_elem, hour_elem, minute_elem, second_elem,resource_jsp) {
                    //     clearInterval(timer);
                    //     if(isFirstClose()){
                    //         $("#Bubble_time").css("display","none");
                    //     }
                    //     var closeBubble=0;
                    //     end_time = new Date().getTime(); //月份是实际月份-1
                    //     end_time += 1000 * scd;
                    //     sys_second = (end_time - new Date().getTime()) / 1000;
                    //     timer = setInterval(function() {
                    //             if(closeBubble*1000===waitMillSecond){
                    //                 $("#Bubble_time").css("display","none");
                    //             }
                    //             closeBubble += 1;
                    //
                    //             if (sys_second > 0) {
                    //                 if(sys_second==6){
                    //                     if(resource_jsp=="rue"){
                    //                         jAlert("对不起！资源时间已到，将在5秒后关掉！", "资源超时警告", null, 5000,null,"warn",-210,-40);
                    //                     } else{
                    //                         jAlert("对不起！资源时间已到，将在5秒后关掉！", "资源超时警告", null, 5000,null,"warn",null,null);
                    //                     }
                    //
                    //                     var mpsSrc = LocationUtil.getContextPath() + "sound/countdown.wav"
                    //                     document.getElementById("mps").src= mpsSrc;
                    //                     document.getElementById("mps").play();
                    //                 }
                    //                 sys_second -= 1;
                    //                 var day = Math.floor((sys_second / 3600) / 24);
                    //                 var hour = day * 24 + Math.floor((sys_second / 3600) % 24);
                    //                 var minute = Math.floor((sys_second / 60) % 60);
                    //                 var second = Math.floor(sys_second % 60);
                    //                 day_elem && $(day_elem).text(day); //计算天
                    //                 $(hour_elem).text(hour < 10 ? "0" + hour: hour); //计算小时
                    //                 $(minute_elem).text(minute < 10 ? "0" + minute: minute); //计算分
                    //                 $(second_elem).text(second < 10 ? "0" + second: second); // 计算秒
                    //             } else {
                    //
                    //                 clearInterval(timer);
                    //                 $("#blackBg").css("display", "block");
                    //                 $("#prompt_box").css("display", "block");
                    //                 if(resource_jsp=="rum"){
                    //                     window.open('','_parent','');
                    //                     window.close();
                    //                 }else {
                    //                     if (stopFctft($("#ceid").val(), "true")) {
                    //                         resetFctf();
                    //                         stopsuccess();
                    //                         //li_xlong 课程有题目加时钟
                    //                         var leftr=parent.document.getElementById("rightFrame").contentWindow.document.body;
                    //                         var couid=$(leftr).find("#courName-a").attr("href").split("=")[1];
                    //                         var leftiframe=parent.document.getElementById("leftFrame").contentWindow.document.body;
                    //                         var divEle = $(leftiframe).find("#courseList").find("#"+couid).find("div").eq(1);
                    //                         $(divEle).empty();
                    //                     } else {
                    //                         jAlert("系统繁忙，销毁失败，请刷新页面，再手动销毁..！", null, function() {}, 5000);
                    //                     }
                    //                 }
                    //             }
                    //         },
                    //         1000);
                    // }
                    // function deleteTimer(){
                    //     clearInterval(timer);
                    // }

				</script>
				<audio id="mps" src="" >
				</audio>
				<div class="fctf_left_list">
					<div class="fctf_right_list">
						<input id="fctf_id" type="hidden" th:value="${fctf.fctf_id}">
						<div class="fctf_name" title="">[[${fctf.fctf_name}]]</div>
						<div class="hr"></div>
						<div class="fctf_introduce_name">题目描述：
						</div>

						<div class="fctf_introduce_list" title="brief_intro">[[${fctf.brief_intro}]]</div>
						<div class="hr"></div>
						<div class="inerColl">
							<i class="icon gray"><i class="icon orange" style="width:82.38%;"></i></i>
							<div class="fctf_menu" style="display: inline-block;">
								<div class="personNum ri"><img th:src="@{/images/person-icon.png}"/>学习人数：208</div>
								<div class="difficulty ri"><img th:src="@{/images/difficulty-icon.png}"/>难度：[[${fctf.degree}]]</div>
								<div class="area ri">方向：[[${fctf.area}]]</div>
								<div class="type ri">类型：[[${fctf.type}]]</div>
								<input type="hidden" id="type" th:value="${fctf.type}"/>
							</div>
						</div>
						<div class="hr"></div>
						<!-- 三种题目类型-->
						<div id="three-type" th:if="${user} ne null">
							<!-- 桌面型 -->
							<div id="desktop" th:if="${fctf.type} eq 'desktop'" style="height: 50px">
								<button class="fctf_create_btn" id="create_kvm" style="width:157px;height:39px;line-height:39px;text-align:center;background-color:#f16f37;color:#fff;border-radius:3px;margin-top:0px;cursor:pointer;border:none">创建虚拟机</button>
							</div>

							<!-- 服务型 -->
							<div id="service" th:if="${fctf.type} eq 'service'" style="height: 50px">
								<a th:href="${fctf.content_addr}">[[${fctf.content_addr}]]</a>
							</div>

							<!-- 附件型 -->
							<div id="download" th:if="${fctf.type} eq 'download'" style="height: 50px">
								<a href="">download</a>
							</div>
						</div>


						<!-- 三种题目类型-->
						<div class="affiliation ri" style="margin-left: 10px;">
							<div class="affiliationlist">

								<p title="SQL注入进阶"><a href="cour.do?w=1&c=C172.19.104.182014090911000400001" target="_blank">SQL注入进阶</a></p>

							</div>

						</div>
						<div style="width:100%">
							<input type="text" id="input_ans"  class="input_ans" required="true"/>
							<button class="fctf_begin_btn" onclick="isflag()" id="addfctf-button" style="display:block;border:none">
								提交
							</button>
						</div>
						<div id="show-result">
							<label id="isnull" style="color: red;display: none">不能为空</label>
						</div>
						<div id="end-mac" class="mac" style="display:none;margin-top: 6px;"><a href="javascript:void(0)">结束并释放题目机</a></div>
						<div id="ending-mac" class="mac" style="display:none;"><img src="/img/loading4.gif}">正在发送请求</div>
						<div id="creating-mac" class="mac" style="display:none;margin-top: 6px;">创建中…先预习一下题目指导书吧！</div>


						<div id="queue" class="mac" style="display: none;margin-top: 21px;">



							<img src="/images/queue.png}">分配环境的人数过多，感谢您的耐心等待！当前排第<font style="color: red;font-size: 26px;">3</font>位


						</div>


					</div>
				</div>
				<div class="fctf_writeup_list">
					<div class="fctf_right_list">
						<div class="fctf_name" title="">WriteUp列表</div>
						<div class="hr"></div>
						<div id="createWriteup" style="font-size: 18px;color: #2aabd2">分享我的WriteUp</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<div class="fctfbelowpart">
		<div class="main">
			<div class="fctfLeftList" data-name="题目左侧列表">
				<div class="fctf_menu_list">
					<ul >
						<li id="evaluate" >题目评价<span>（<span>2</span>）</span></li>
					</ul>

					<div class="hr"></div>
				</div>
				<div class="main_list" id="tab_list">
					<div id="evaluate_list" class="fctf" data-name="题目评价">
						<div class="evaluate">
							<div class="addevaluatediv" style="display: block !important;">
								<div class="head_img"><img th:src="@{/images/default.jpg}"/></div>
								<div class="evaluate_editor">
									<div class="satisfaction">
										<span>整体评价：</span>
										<div id="evaluate-start" style="cursor: pointer; width: 90px;">
											<input name="score" type="hidden">
										</div>
									</div>
									<div class="addevaluate_btn" style="width:80px;height:28px;line-height:28px;text-align:center;background-color:#0f7afe;color:#fff;font-size:12px;float:right;margin-top:6px;border-radius:3px;cursor:pointer;">发表评价</div>
									<p class="error-message"></p>
								</div>
							</div>
							<div class="evaluateList">

							</div>
							<div id="evaluate_page" class="M-box"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="expRiList" data-name="题目右侧列表">
			<div class="recommend" data-name="相关推荐">



				<div class="recommend_name">相关推荐</div>


				<div class="hr"><span></span></div>
				<div class="recommendList">
					<ul>

					</ul>
				</div>
			</div>

		</div>
	</div>
</div>


	<!-- Footer -->

<footer th:replace="/common/footer :: footer">
</footer>

</div>

<!--<script th:src="@{/js/jquery-3.2.1.min.js}"></script>-->
<script th:src="@{/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/js/jquery.select-1.3.6.js}"></script>
<script th:src="@{/js/jquery/jquery.raty.js}"></script>
<script th:src="@{/js/fctfPage.js}"></script>
<!--<script th:src="@{/js/fctf_env.js}"></script>-->
<script th:src="@{/js/page.js}"></script>

<script th:src="@{/js/custom/loading.js}"></script>
<script th:src="@{/js/CommonUtil.js}"></script>
<script th:src="@{/layer/layer.js}"></script>
<script th:src="@{/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<!--<script th:src="@{/plugins/greensock/TweenMax.min.js}"></script>-->
<!--<script th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>-->
<!--<script th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>-->
<!--<script th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>-->
<!--<script th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>-->
<!--<script th:src="@{/plugins/scrollTo/jquery.scrollTo.min.js}"></script>-->
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/js/courses_custom.js}"></script>

<script>
    // $(document).ready(function(){
    //     var typeCurrent = $("#type").val();
    //     var typeList = document.getElementById("three-type").children;
    //     for(var i = 0; i < typeList.length; i++){
    //         if(typeCurrent == typeList[i].id){
    //             document.getElementById(typeList[i].id).style.display="block";
    //         }else{
    //             document.getElementById(typeList[i].id).style.display="none";
    //         }
    //     }
    // });
	//判断答案
	function isflag() {
		var flag = $("#input_ans").val();
		if(flag == null || flag == ""){
		    $("#isnull").show();
		}else{
            $("#isnull").hide();
            $.ajax({
                url:"/fctf/isflag/"+flag+"?fctf_id="+$("#fctf_id").val(),
                type:"POST",
                success:function (data) {
                    if(data.code == 0){
                        if(data.data == "true"){
                            layer.msg("答案正确！");
                        }else {
                            layer.msg("答案错误！");
                        }
                    }else if(data.code==500210){
                        window.location.href="/login";
                    } else{
                        layer.msg(data.msg);
                    }
                },
                error:function(){
                    layer.closeAll();
                }
            });
		}
    }
    $("#createWriteup").click(function (e) {
		var id = $("#fctf_id").val();
		if($("#user").val() == null){
		    layer.msg("请先登录");
		}else{
            window.location.href = "/fctf/createWriteup/"+id;
		}

    })

</script>

</body>
</html>