<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Courses</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" href="styles/fctfProfile_styles.css">
<link rel="stylesheet" type="text/css" href="styles/fctfProfile_responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header d-flex flex-row">
		<div th:replace="/common/header :: navi">

		</div>
		<div th:include="/common/header :: login" th:if="${user != null}" id="login" class="header_side d-flex flex-row justify-content-center align-items-center">

		</div>
		<div th:include="/common/header :: unlogin" th:if="${user == null}" id="unlogin" class="header_side d-flex flex-row justify-content-center align-items-center">

		</div>

		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>

	</header>
	<header th:replace="/common/header :: search">

	</header>
	<!-- Menu -->

	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(images/courses_background.jpg)"></div>
		</div>
		
	</div>

	<!-- Popular -->

	<!--- Condition navigation -->
	<div class="conditionNav" data-name="条件导航">
	<div class="main">
		<div id="experimentDirection" class="conditionType" data-name="实验方向">
			
				
				
					<div class="conditionType-key">方向：</div>
					<div class="conditionType-allvalue conditionType-valueListHover">全部</div>
				
			
			<div class="conditionType-value">
				<ul id="conditionType-valueList">
				</ul>
			</div>
			
				
				
					<div id="more" class="slide down" name="experimentDirection">更多<i class="more"></i></div>
					<div id="retract" class="slide up" name="experimentDirection">收起<i class="retract"></i></div>
				
			
		</div>
		<div id="experimentClassify" class="conditionType" data-name="实验分类">
			
				
				
					<div class="conditionType-key">类型：</div>
					<div class="conditionType-allvalue conditionType-valueListHover">全部</div>
				
			
			<div class="conditionType-value">
				<ul id="conditionType-valueList_type">
					
						
						
							<li data-param="desktop">桌面型</li>
							<li data-param="service">服务型</li>
							<li data-param="attachment">附件型</li>
						
					
				</ul>
			</div>
			
				
				
					<div id="more_type" class="slide down" name="experimentClassify">更多<i class="more"></i></div>
					<div id="retract_type" class="slide up" name="experimentClassify">收起<i class="retract"></i></div>
				
			
		</div>
		
		<div id="experimentDifficulty" class="conditionType" data-name="实验难度">
			
				
				
					<div class="conditionType-key">难度：</div>
					<div class="conditionType-allvalue conditionType-valueListHover">全部</div>
				
			
			<div class="conditionType-value">
				<ul id="conditionType-valueList_degree">
					
						
						
							<li data-param="Simple">初级</li>
							<li data-param="Medium">中级</li>
							<li data-param="Hard">高级</li>
						
					
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Condition navigation -->	
	<div class="popular page_section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>实际操作题目</h1>
					</div>
				</div>
			</div>

			<div class="row course_boxes">
				
				<!-- Popular Course Item -->

				<ul>
					<li th:each="fctf:${fctfList}" style="float: left;list-style: none;height:70px;width: 340px">
						<div class="col-lg-4 course_box">
							<div class="card">
								<div class="price_box d-flex flex-row align-items-center">
									<div class="course_author_image">
										<img src="images/author.jpg" alt="">
									</div>
									<div class="course_author_name"><a th:href="'/fctf/'+${fctf.fctf_id}">[[${fctf.fctf_name}]]</a></div>
									<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>[[${fctf.degree}]]</span></div>
								</div>
							</div>
						</div>
					</li>
				</ul>

			</div>
		</div>		
	</div>

	<!-- Footer -->

	<footer th:replace="/common/footer :: footer">
	</footer>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/courses_custom.js"></script>

</body>
</html>