<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" href="styles/myhome_styles.css">
<link rel="stylesheet" type="text/css" href="styles/myhome_responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header d-flex flex-row">
		<div th:replace="/common/header :: navi">

		</div>
		<div th:include="/common/header :: login" th:if="${user != null}" id="login" class="header_side d-flex flex-row justify-content-center align-items-center">

		</div>
		<div th:include="/common/header :: unlogin" th:if="${user == null}" id="unlogin" class="header_side d-flex flex-row justify-content-center align-items-center">

		</div>
		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>

	</header>

	<!-- Menu -->

	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(images/contact_background.jpg)"></div>
		</div>
		
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			
			
			<div class="main_con">
				<div th:replace="/common/myhome_left :: myhome_left" class="con_left">
				</div>
				<div class="con_right_info">
					
					<div class="commander commander_s">
						<div class="jiben">
							<p class="nickname">
								<span>昵称：</span><span>[[${user.username}]]</span>
							</p>
							<form action="/user/update" id="userFrm" method="post" class="regular">
								<p class="kiss">
									<span>姓名：</span>
									<input type="text"  id="name" name="name" th:value="${user.name}" placeholder="请输入您的真实姓名" />
								</p>
								<p class="kiss">
									<span>生日：</span>
									<input id="birthday" name="birthday" type="text" class="brithday" value="" readonly>
								</p>
								<div id="container" style="height: 0px;">&nbsp;</div>
								<p class="ts kiss">
									<span>性别：</span>
									<label class="la_one"><input  type="radio" name="sex" value="0"/>保密</label>
									<label class="la_two"><input checked type="radio" name="sex" value="1"/>男</label>
									<label class="la_two"><input  type="radio" name="sex" value="2"/>女</label>
								</p>
								<p class="cs">
									<span class="ccs">城市：</span>
									<select id="cmbProvince" name="s_province"></select>
									<select id="cmbCity" name="s_city"></select>
									<select id="cmbArea" name="s_county"></select>
								</p>
								<p class="kiss">
									<span>邮箱：</span>
									<input type="email" id="email" th:value="${user.email}" readonly/>
																			<a href="" class="xgyx">绑定邮箱</a>
																	</p>
								<p class="kiss">
									<span>手机号：</span> 
									<input type="text" id="phone" th:value="${user.mobile}" readonly/>
																		<a href="" class="ghsjh">更换手机号</a>
																	</p>
								<input id="token" name="token" type="hidden" value="44e6798f32dc7fb2ddee559e3914b978"/>
								<input type="submit" value="保存" class="preservation" />
							</form>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>



	<!-- Footer -->

	<footer th:replace="/common/footer :: footer">
	</footer>

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/contact_custom.js"></script>


</body>
</html>