<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/styles/font-awesome.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/styles/resource-common.css}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link th:href="@{/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav th:replace="/common/resource_top :: resource_top" class="navbar navbar-default top-navbar">
        </nav>

        <!-- /. NAV SIDE  -->
        <nav th:replace="/common/resource_left :: resource_left" class="navbar-default navbar-side">
        </nav>
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                 <div class="col-md-12">
                        <h1 class="page-header">
                            添加新实验
                        </h1>


                    </div>
                 <!-- /. ROW  -->
                 <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div id="fade" class="black_overlay"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            实验信息
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <form id="exp-info" name="exp-info" >
                                    <input type="hidden" id="exp_id" th:value="${experiment.exp_id}">
                                    <p >
                                        <span style="font-size: 16px;font-weight: 600;color: #63686e;">实验名：</span>
                                        <input type="text" id="exp_name" name="exp_name" placeholder="请输入内容" th:value="${experiment.exp_name}">
                                        <!--<span style="font-size: 16px;font-weight: 600;color: #63686e;margin-left: 70px">环境名：</span>-->
                                        <!--<input type="text" id="envir_name" name="envir_name" placeholder="请输入内容" th:value="${experiment.envir_name}">-->
                                    </p>
                                    <p >
                                        <span style="font-size: 16px;font-weight: 600;color: #63686e;">方向：</span>
                                        <input type="text" id="class1" name="class1" placeholder="请输入内容" th:value="${experiment.class1}" style="margin-left: 10px">
                                        <span style="font-size: 16px;font-weight: 600;color: #63686e;margin-left: 70px">类别：</span>
                                        <input type="text" id="class2" name="class2" placeholder="请输入内容" th:value="${experiment.class2}">
                                        <span style="font-size: 16px;font-weight: 600;color: #63686e;margin-left: 70px">难度：</span>
                                        <input type="hidden" name='degree-val' th:value="${experiment.degree}">
                                        <label><input  type="radio" name="degree" value="初级"/>初级</label>
                                        <label><input  type="radio" name="degree" value="中级"/>中级</label>
                                        <label><input  type="radio" name="degree" value="高级"/>高级</label>

                                    </p>
                                    <p class="kiss">
                                        <span>实验简介：</span>
                                        <textarea id="brief_intro" name="brief_intro" placeholder="请输入内容"
                                                  class="textarea" style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;">[[${experiment.brief_intro}]]</textarea>
                                    </p>
                                    <div class="kiss">
                                        <span>实验文档：</span>
                                        <a id="btn_document" name="btn_document" href="javascript:;" onclick="openDocDiv()" style="line-height: 35px;font-size: 16px">输入文档内容</a>
                                        <div id="document" class="white_content">

                                            This is the lightbox content.
                                            <p class="kiss">
                                                <span>内容背景：</span>
                                                <textarea id="content" name="content" placeholder="请输入内容" class="textarea"
                                                          style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;">[[${experiment.content}]]</textarea>
                                            </p>
                                            <p class="kiss">
                                                <span>实验环境：</span>
                                                <textarea id="environment" name="environment" placeholder="请输入内容" class="textarea"
                                                          style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;">[[${experiment.environment}]]</textarea>
                                            </p>
                                            <p class="kiss">
                                                <span>实验目的：</span>
                                                <textarea id="purpose" name="purpose" placeholder="请输入内容" class="textarea"
                                                          style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;">[[${experiment.purpose}]]</textarea>
                                            </p>
                                            <p class="kiss">
                                                <span>操作步骤：</span>
                                                <input id="step" name="file" type="file" class="textarea" accept="application/pdf"
                                                       style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;"></input>
                                            </p>
                                            <a href="javascript:void(0)" onclick="two()">Close</a>
                                        </div>

                                    </div>

                                    <p class="kiss">
                                        <span>实验图片：</span>
                                        <input type="file" id="image" name="file" class="textarea" placeholder="浏览" accept=".jpg,.png,.jpeg">
                                    </p>
                                    <p class="kiss">
                                        <span>实验视频：</span>
                                        <input type="file" id="video" name="file" class="textarea" placeholder="浏览" accept="application/mp4">
                                    </p>
                                    <p class="kiss" id="add-question">
                                        <input type="hidden" id='question-json' th:value="${experiment.question}">
                                        <span>实验测题：</span><a href="javascript:" class="item-operation" onclick="addQues()">添加题目</a>




                                    </p>
                                    <p class="kiss">
                                        <span>备注：</span>
                                        <textarea id="remark" name="remark" class="textarea" style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;">[[${experiment.remark}]]</textarea>
                                    </p>
                                    <p>
                                        <input type="submit" class="page-button" onclick="addExp()">
                                    </p>

                                </form>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></footer>
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-1.11.1.js}"></script>
      <!-- Bootstrap Js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/js/morris/morris.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/jquery/jquery.validate.min.js}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
    <script>
        $(document).ready(function () {
            var degree = document.getElementsByName("degree");
            var degree_val = document.getElementsByName("degree-val");
            for(var i = 0; i < degree.length; i++){
                if(degree[i].value == degree_val[0].value){
                    degree[i].checked = true;
                }
            }
            var questionHtml = "";
            var questionJson = $("#question-json").val();
            var questionList = JSON.parse(questionJson);
            var count_ques = questionList.length;
            for(var i=0;i<count_ques;i++) {
                var question = JSON.stringify(questionList[i]);
                var placeholder = "{\"questionStatement\": \"\",\"answer\": \"item1\",\"items\": [{\"item1\": \"\",\"item2\": \"\",\"item3\": \"\",\"item4\": \"\"}]}";
                str = "<textarea id=\"question-content"+i+"\" name=\"question-content\" placeholder="+placeholder+" class=\"textarea\">"+question+"</textarea><a href='javascript:' class='item-operation' onclick='deleteques(this,\"question-content"+ i +"\")'>删除题目</a>";
                $("#add-question").append(str);
            }
        })

    </script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
        function openDocDiv(){
            document.getElementById('document').style.display='block';
            document.getElementById('fade').style.display='block'
        }
        function two(){
            document.getElementById('document').style.display='none';
            document.getElementById('fade').style.display='none'
        }
    </script>
         <!-- Custom Js -->
    <script th:src="@{/js/custom-scripts.js}"></script>


        <script>
            function deleteques(this_a,textId){
                $("#"+textId).remove();
                $(this_a).remove();
            }

            function addQues(){
                var count_ques = $("#add-question").children("textarea").length;
                var placeholder = "{\"questionStatement\": \"\",\"answer\": \"item1\",\"items\": [{\"item1\": \"\",\"item2\": \"\",\"item3\": \"\",\"item4\": \"\"}]}";
                str = "<textarea id=\"question-content"+count_ques+"\" name=\"question-content\" placeholder="+placeholder+" class=\"textarea\">"+placeholder+"</textarea><a href='javascript:' class='item-operation' onclick='deleteques(this,\"question-content"+ count_ques +"\")'>删除题目</a>";
                count_ques += 1;
                $("#add-question").append(str);
            }
            function addExp(){
                $("#exp-info").validate({
                    submitHandler:function(form){
                        doAdd();
                    }
                });
            }

            function doAdd(){
                g_showLoading();
                //构造测题的json数据
                var question = "";
                    //先构造测题选项的json数据
                for(var i = 0; i < $("#add-question").children("textarea").length; i++){
                    //key是div子radio元素的value，value是div的文本内容
                    // var value = $("#"+divId).contents().filter(function (index, content) {
                    //     //console.log(content)
                    //     return content.nodeType === 3;
                    // }).text().trim();
                    //{key:value,key:value}
                    question = question + $("#question-content"+i).val();
                    if(i < $("#add-question").children("textarea").length-1)
                        question = question + ",";
                }
                //answer = $("input[type=radio][name=question-item]:checked").val().trim();
                question = "["+question+"]";
                // var s = $('#image')[0].files[0];
                // var formData = new FormData();
                // formData.append("file", s);
                var form=new FormData($("#exp-info")[0]);//拿到表单对象
                $.ajax({
                    url: "/admin/exp_update",
                    enctype:"multipart/form-data",
                    type: "POST",
                    data:form,
                    processData:false,
                    contentType:false,
                    // data:{
                    //     exp_id:$("#exp_id").val(),
                    //     envir_name:$("#envir_name").val(),
                    //     exp_name:$("#exp_name").val(),
                    //     remark:$("#remark").val(),
                    //     class1:$("#class1").val(),
                    //     class2:$("#class2").val(),
                    //     degree:$("input[type=radio][name=degree]:checked").val(),
                    //     image:formData,
                    //     video:$("#video").val(),
                    //     brief_intro:$("#brief_intro").val(),
                    //     host_ip:$("#host_ip").val(),
                    //     kvm_ip:$("#kvm_ip").val(),
                    //     question:question,
                    //     content:$("#content").val(),
                    //     step:$("#step").val(),
                    //     purpose:$("#purpose").val(),
                    //     environment:$("#environment").val(),
                    //     summary:$("#summary").val(),
                    //
                    // },
                    success:function(data){
                        layer.closeAll();
                        if(data.code == 0){
                            layer.msg("成功");
                            window.location.href="/admin/exp_list";
                        }else{
                            layer.msg(data.msg);
                            //layer.msg("成功");
                            // window.location.href="/login";
                        }
                    },
                    error:function(){
                        layer.closeAll();
                    }
                });
            }

        </script>


</body>


</html>
