<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/styles/font-awesome.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/styles/resource-common.css}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link th:href="@{/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav th:replace="/common/resource_top :: resource_top" class="navbar navbar-default top-navbar">
        </nav>

        <!-- /. NAV SIDE  -->
        <nav th:replace="/common/resource_left :: resource_left" class="navbar-default navbar-side">
        </nav>
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                 <div class="col-md-12">
                        <h1 class="page-header">
                            添加新实验
                        </h1>


                    </div>
                 <!-- /. ROW  -->
                 <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            实验信息
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <form id="fctf-info" name="fctf-info" method="post">
                                    <input type="hidden" id="fctf_id" th:value="${fctf.fctf_id}">
                                    <p >
                                        <span>题目名：</span>
                                        <input type="text" id="fctf_name" name="fctf_name" placeholder="请输入内容" th:value="${fctf.fctf_name}">
                                        <span style="margin-left: 70px">环境名：</span>
                                        <input type="text" id="envir_name" name="envir_name" placeholder="请输入内容" th:value="${fctf.envir_name}">
                                    </p>
                                    <p >
                                        <span>主机IP：</span>
                                        <input type="text" id="host_ip" name="host_ip" placeholder="请输入内容" th:value="${fctf.host_ip}">
                                        <span style="margin-left: 55px">虚拟机IP：</span>
                                        <input type="text" id="kvm_ip" name="kvm_ip" placeholder="请输入内容" th:value="${fctf.kvm_ip}">
                                    </p>
                                    <p >
                                        <span>方向：</span>
                                        <input type="text" id="area" name="area" placeholder="请输入内容" th:value="${fctf.area}" style="margin-left: 10px">
                                        <span style="margin-left: 70px">类型：</span>
                                        <input type="text" id="type" name="type" placeholder="请输入内容" th:value="${fctf.type}">
                                        <span style="margin-left: 70px">难度：</span>
                                        <input type="hidden" name='degree-val' th:value="${fctf.degree}">
                                        <label><input  type="radio" name="degree" value="初级"/>初级</label>
                                        <label><input  type="radio" name="degree" value="中级"/>中级</label>
                                        <label><input  type="radio" name="degree" value="高级"/>高级</label>

                                    </p>
                                    <p class="kiss">
                                        <span>题目简介：</span>
                                        <textarea id="brief_intro" name="brief_intro" placeholder="请输入内容" class="textarea" style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;">[[${fctf.brief_intro}]]</textarea>
                                    </p>
                                    <p class="kiss">
                                        <span>writeup：</span>
                                        <input type="file" id="writeup" name="writeup" placeholder="请输入内容" accept=".doc,.docs,.pdf">
                                    </p>
                                    <p class="kiss">
                                        <span>考察队：</span>
                                        <textarea id="point" name="point" placeholder="请输入内容" class="textarea" style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;">[[${fctf.point}]]</textarea>
                                    </p>
                                    <p class="kiss">
                                        <span>提示：</span>
                                        <textarea id="tip" name="tip" placeholder="请输入内容" class="textarea" style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;">[[${fctf.tip}]]</textarea>
                                    </p>
                                    <p class="kiss">
                                        <span>备注：</span>
                                        <textarea id="remark" name="remark" class="textarea" style="min-height: 32.9886px; z-index: auto; position: relative; line-height: 21px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;">[[${fctf.remark}]]</textarea>
                                    </p>
                                    <p>
                                        <input type="submit" class="page-button" onclick="addFctf()">
                                    </p>

                                </form>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></footer>
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-1.11.1.js}"></script>
      <!-- Bootstrap Js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/js/morris/morris.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/jquery/jquery.validate.min.js}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
    <script>
        $(document).ready(function () {
            var degree = document.getElementsByName("degree");
            var degree_val = document.getElementsByName("degree-val");
            for(var i = 0; i < degree.length; i++){
                if(degree[i].value == degree_val[0].value){
                    degree[i].checked = true;
                }
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
         <!-- Custom Js -->
    <script th:src="@{/js/custom-scripts.js}"></script>


        <script>
            function addFctf(){
                $("#fctf-info").validate({
                    submitHandler:function(form){
                        doAdd();
                    }
                });
            }
            function doAdd(){
                g_showLoading();
                $.ajax({
                    url: "/admin/fctf_update",
                    type: "POST",
                    data:{
                        fctf_id:$("#fctf_id").val(),
                        envir_name:$("#envir_name").val(),
                        fctf_name:$("#fctf_name").val(),
                        remark:$("#remark").val(),
                        area:$("#area").val(),
                        type:$("#type").val(),
                        tip:$("#tip").val(),
                        degree:$("input[type=radio][name=degree]:checked").val(),
                        brief_intro:$("#brief_intro").val(),
                        host_ip:$("#host_ip").val(),
                        kvm_ip:$("#kvm_ip").val(),
                        point:$("#point").val(),
                        writeup:$("#writeup").val()
                    },
                    success:function(data){
                        layer.closeAll();
                        if(data.code == 0){
                            layer.msg("成功");
                            window.location.href="/admin/fctf_list";
                        }else{
                            layer.msg(data.msg);
                            //layer.msg("成功");
                            // window.location.href="/login";
                        }
                    },
                    error:function(){
                        layer.closeAll();
                    }
                });
            }
        </script>


</body>


</html>
