<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/styles/font-awesome.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/styles/resource-common.css}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link th:href="@{/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav th:replace="/common/resource_top :: resource_top" class="navbar navbar-default top-navbar">
        </nav>

        <!-- /. NAV SIDE  -->
        <nav th:replace="/common/resource_left :: resource_left" class="navbar-default navbar-side">
        </nav>
        <div id="fade" class="black_overlay" style="height: 200%"></div>
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                 <div class="col-md-12">
                        <h1 class="page-header">
                            主机信息
                        </h1>


                    </div>
                 <!-- /. ROW  -->
                 <div class="row">
                <div class="col-md-12">
                    <input id="host_id" type="hidden" th:value="${vmHost.host_ip}">
                    <!-- 环境模板信息-->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <form enctype="multipart/form-data" id="envir-info" name="envir-info" method="post">
                                    <!-- 添加主机浮板 -->
                                    <div class="kiss">
                                        <div id="add_host" style="height: 600px">
                                            <p class="kiss">
                                                <span>主机名：</span>
                                                <input type="text" class="envir-input" th:value="${vmHost.host_name}" readonly id="host_name" name="host_name" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>ip地址：</span>
                                                <input type="text" class="envir-input" th:value="${vmHost.host_ip}" readonly id="host_ip" name="host_ip" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>工具：</span>
                                                <input type="text" class="envir-input" th:value="${vmHost.tools}" readonly id="host_tools" name="host_tools" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>操作系统：</span>
                                                <input type="text" class="envir-input" th:value="${vmHost.os}" readonly id="host_os" name="host_os" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>用户名：</span>
                                                <input type="text" class="envir-input" th:value="${vmHost.username}" readonly id="host_username" name="host_username" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>密码：</span>
                                                <input type="text" class="envir-input" th:value="${vmHost.password}" readonly id="host_password" name="host_password" placeholder="请输入内容">
                                            </p>
                                            <p class="kiss">
                                                <span>备注:<span>（详细配置需求）</span></span>
                                                <textarea type="text" class="envir-input" style="width: 596px; height: 177px;" th:value="${vmHost.remark}" readonly id="host_remark" name="host_remark" placeholder="请输入内容">[[${vmHost.remark}]]</textarea>
                                            </p>
                                            <p class="kiss" style="height: 70px">
                                                <button class="page-button" onclick="save()">修改</button>
                                            </p>
                                        </div>
                                    </div>


                                    <!-- 添加主机浮板 -->
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    <!--环境模板信息 -->

                </div>
            </div>
            </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></footer>
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-1.11.1.js}"></script>
      <!-- Bootstrap Js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/js/morris/morris.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/jquery/jquery.validate.min.js}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
         <!-- Custom Js -->
    <script th:src="@{/js/custom-scripts.js}"></script>
        <script>
            function changeStatus() {
                var update_time = new Date().format("yy-MM-dd hh:mm:ss");
                var host_id = $("#host_id").val();
                $.ajax({
                    url: "/resource/update_host",
                    type: "POST",
                    data:{
                        host_id:host_id,
                        tools:$("#host_tools").val(),
                        os:$("#host_os").val(),
                        username:$("#host_username").val(),
                        password:$("#host_password").val(),
                        remark:$("#host_remark").val(),
                        update_time:update_time
                    },
                    success:function(data){
                        if(data.code == 0){
                            layer.msg("操作成功！");
                        } else{
                            layer.msg(data.msg);
                        }
                    },
                    error:function(){
                        layer.closeAll();
                    }
                });
            }
        </script>

</body>


</html>
