<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/styles/font-awesome.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/styles/resource-common.css}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link th:href="@{/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav th:replace="/common/resource_top :: resource_top" class="navbar navbar-default top-navbar">
        </nav>

        <!-- /. NAV SIDE  -->
        <nav th:replace="/common/resource_left :: resource_left" class="navbar-default navbar-side">
        </nav>
        <div id="fade" class="black_overlay" style="height: 200%"></div>
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                 <div class="col-md-12">
                        <h1 class="page-header">
                            实验环境
                        </h1>


                    </div>
                 <!-- /. ROW  -->
                 <div class="row">
                <div class="col-md-12">
                    <!-- 环境模板信息-->
                    <!--主机列表 -->
                    <div class="panel panel-default">
                        <div class="row" id="host_list" >
                            <ul th:if="${vmHostList != null}">
                                <li th:each="vmHost:${vmHostList}" class="host-list-li">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-success panel-data" style="height: 250px;width: 350px;margin: 20px">
                                            <div class="panel-heading">

                                                <h3 class="panel-title">
                                                    <a th:href="'/resource/host_view/'+${vmHost.host_id}"><strong>[[${vmHost.host_name}]]</strong></a>
                                                    <a href="#editHost1" class="pull-right">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </h3>

                                            </div>
                                            <div class="panel-body">
                                                <p>
                                                    <input type="hidden" name="host_id" th:value="${vmHost.host_ip}">
                                                    <button type="submit" class="pull-right btn btn-xs btn-danger" name="host_del"
                                                            title="Delete"
                                                            onclick="return confirm('Are you sure?')">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                <p><strong>Host_IP : </strong>[[${vmHost.host_ip}]]</p>
                                                <p><strong>Update : </strong>[[${vmHost.update_time}]]</p>
                                                <p>
                                                    <strong>虚拟机镜像 : </strong>
                                                    <label th:if="${vmHost.qcow2_path == null || vmHost.qcow2_path == ''}" style="color: red;font-weight: 500">未上传</label>
                                                    <a th:unless="${vmHost.qcow2_path == null || vmHost.qcow2_path == ''}" href="#">查看信息</a>
                                                    <a th:unless="${vmHost.qcow2_path == null || vmHost.qcow2_path == ''}" href="#">压缩镜像</a>
                                                </p>
                                                <p>
                                                    <strong>启动脚本 : </strong>
                                                    <a th:if="${vmHost.create_bash == null || vmHost.create_bash == ''}" href="#">点击生成脚本</a>
                                                    <label th:unless="${vmHost.create_bash == null || vmHost.create_bash == ''}" style="color: #4d82ff;font-weight: 500">已生成</label>
                                                </p>
                                                <p>
                                                    <strong>销毁脚本 : </strong>
                                                    <a th:if="${vmHost.create_bash == null || vmHost.create_bash == ''}" href="#">点击生成脚本</a>
                                                    <label th:unless="${vmHost.destroy_bash == null || vmHost.destroy_bash == ''}" style="color: #4d82ff;font-weight: 500">已生成</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <!--主机列表 -->
                </div>
            </div>
            </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></footer>
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-1.11.1.js}"></script>
      <!-- Bootstrap Js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/js/morris/morris.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/jquery/jquery.validate.min.js}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
         <!-- Custom Js -->
    <script th:src="@{/js/custom-scripts.js}"></script>

        <script>

        </script>

</body>


</html>
